.title_blue{
    margin-top: 25%;
    color:#09c;
    text-align: center;
    font-weight: 500;
    font-size: 105%;
}

.desc{
    text-align: center;
    margin: 3% 3% 5%;
    font-weight: 500;
    font-size: 90%;
}

.stores{
    display: flex;   
    justify-content: space-around;
    margin: 0px 10%;
}

.app_store,
.google_play{
    width: 130px;
    height: 90%;
}

.final{
    text-align: center;
    font-size: 75%;
    margin: 5% 10%;
}

@media (min-width: 800px) {
    .title_blue {
        margin-top: 30%;
    }
}

@media (min-width: 1440px) {
    .title_blue {
        margin-top: 50px;
    }
    .desc{
        margin: 1% 3% 1%;
    }
    .final{
        margin: 1% 10%;
    }
    .stores{
        margin: 0px 25%;
    }

}

@media (min-width: 2000px) {
    .stores{
        margin: 0px 35%;
    }
}

